@import "../../colours";
@import "../../components/FloatingInput.scss";
@import "../../components/EditableDropdown.scss";


$formWidth: clamp(0px, calc(100% - (2 * var(--padding-md))), 25rem);

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--padding-md);

    label {
        color: $white;
        text-align: left;
        width: $formWidth;
        line-height: 2;
    }

    fieldset {
        width: $formWidth;
        margin: 0px;
        margin-top: var(--padding-sm);
        padding: 0px;
        padding-top: var(--padding-xs);

        display: flex;
        flex-direction: column;
        align-items: center;

        border: none;

        legend {
            color: $white;
        }

        .floating-input, .error {
            width: 100%;
        }
        
    }

    .editable-dropdown {
        width: $formWidth;
        margin-bottom: var(--padding-sm);
    }
}