
.floating-input {
    position: relative;

    & > label {
        position: absolute;
        left: 0px;
        top: 0px;

        display: inline-block;

        padding: var(--padding-sm);
        padding-left: var(--padding-md);

        font-size: var(--font-size-md);
        line-height: 2;
        color: var(--text-color);

        pointer-events: none; 
    }

    &:has(input:where(:not(:placeholder-shown):not([type="hidden"]), :focus)) {
        label {
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;

            font-size: var(--font-size-sm);
        }
    }

    > * {
        width: 100%;
        margin-bottom: 0px;
    }

    
    input {
        padding-top: var(--padding-md);
        padding-bottom: 0;

        line-height: 2;
        text-align: bottom;
    }
}