@import "../colours.scss";

$bar-height: var(--border-width);
$padding: 15cqh;
$calc-content-size: calc(100cqh - (2 * $padding));
$calc-bar-gap: calc(($calc-content-size / 3) - $bar-height);
$bar-transformY: calc($bar-height + $calc-bar-gap);

.menu-burger {
    height: 100cqh;
    width: 100cqh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: $padding;

    .topbar, .midbar, .botbar {
        height: $bar-height;

        background-color: var(--text-color);

        animation-duration: .2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    &:hover {
        .topbar, .midbar, .botbar {
            background-color: var(--text-hover-color);
        }
    }

    &:active {
        .topbar, .midbar, .botbar {
            background-color: var(--text-active-color);
        }
    }

}


@keyframes top-bar-open {
    0% {
        transform: translateY(0%) rotate(0deg);
    }
    50% {
        transform: translateY($bar-transformY) rotate(0deg);
    }
    100% {
        transform: translateY($bar-transformY) rotate(45deg);
    }
}
@keyframes top-bar-close {
    0% {
        transform: translateY($bar-transformY) rotate(45deg);
    }
    50% {
        transform: translateY($bar-transformY) rotate(0deg);
    }
    100% {
        transform: translateY(0%) rotate(0deg);
    }
}

@keyframes middle-bar-open {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@keyframes middle-bar-close {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bottom-bar-open {
    0% {
        transform: translateY(0%) rotate(0deg);
    }
    50% {
        transform: translateY(calc(0px - $bar-transformY)) rotate(0deg);
    }
    100% {
        transform: translateY(calc(0px - $bar-transformY)) rotate(-45deg);
    }
}
@keyframes bottom-bar-close {
    0% {
        transform: translateY(calc(0px - $bar-transformY)) rotate(-45deg);
    }
    50% {
        transform: translateY(calc(0px - $bar-transformY)) rotate(0deg);
    }
    100% {
        transform: translateY(0%) rotate(0deg);
    }
}

.menu-burger.open {
    .topbar {
        animation-name: top-bar-open;
        animation-direction: forwards ;
    }

    .midbar {
        animation-name: middle-bar-open;
        animation-direction: forwards;
    }

    .botbar {
        animation-name: bottom-bar-open;
        animation-direction: forwards;
    }
}

.menu-burger.was-open {
    .topbar {
        animation-name: top-bar-close;
        animation-direction: forwards ;
    }

    .midbar {
        animation-name: middle-bar-close;
        animation-direction: forwards;
    }

    .botbar {
        animation-name: bottom-bar-close;
        animation-direction: reveforwardsrse;
    }
}