@import "../colours.scss";
@import "../breakpoints.scss";

$change-at: 30rem;

$navbar-background-colour: $gray-900;
$navbar-border-colour: $gray-800;
$navbar-colour: $gray-500;
$navbar-colour-hover: $gray-300;
$navbar-colour-active: $white;

$navbar-item-height: 2.5rem;

.navbar {
    background: $navbar-background-colour;

    height: 3.75rem;
    border-bottom: .25rem solid $navbar-border-colour;
    padding: .5rem 1rem .5rem 1rem;
    // Leaves 2.5rem hiehgt for children

    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;

    container-type: size;
    container-name: navbar;


    @media (max-width: $change-at) {
        justify-content: space-between;
        align-items: center;
    }
}

.navbar-brand {    
    height: 100cqh;
    font-size: 60cqh;
    padding: 20cqh 0cqh 20cqh 0cqh;

    color: $white;
    text-decoration: none;
    
}

.navbar-collapse {
    display: flex;
    gap: 1rem;

    @media (max-width: $change-at) {
        display: none;
    }
}

.nav-item {
    font-size: 40cqh;
    color: $navbar-colour;
    text-decoration: none;
    background: none;
    padding: 0;
    border: none;

    display: flex;


    &.expandable {
        padding-right: .45rem;

        &::after {
            content: "";
            display: inline-block;
            position: relative;
            left: .35rem;
            top: .4rem;

            height: .25rem;
            width: .25rem;
            transform: rotate(45deg);
            border: solid $navbar-colour;
            border-width: 0rem .125rem .125rem 0rem;
        }
        
    }

    &:hover {
        color: $navbar-colour-hover;

        &.expandable:hover::after {
            border-color: $navbar-colour-hover;
        }
    }

    &:active {
        color: $navbar-colour-active;

        &.expandable:hover::after {
            border-color: $navbar-colour-active;
        }
    }
}

.navbar-toggle {
    height: 100cqh;
    width: 100cqh;

    padding: 15cqh;

    background: $navbar-background-colour;
    border: 10cqh solid $navbar-border-colour;
    border-radius: 20cqh;

    container-type: size;
    container-name: menu-burger;
    
    @media (min-width: calc($change-at + 0.02px)) {
        display: none;
    }
}
