@import "../colours.scss";
@import "../breakpoints.scss";

$breakpoint: 60rem; // toggle mode
$toggle-mode: $breakpoint;
$link-mode: calc($breakpoint + 0.02px); // link mode
$navbar-height: 4rem;

.navbar {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    @media (min-width: $link-mode) {
        // In link mode, responsible for bottom border
        height: $navbar-height;
        border-bottom: var(--border);
        gap: 1rem;
        flex-direction: row;
    }
    
}

.navbar-static {
    height: 100%;

    padding-left: var(--padding-md);
    padding-right: var(--padding-md);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $toggle-mode) {
        // In toggle mode, responsible for bottom border
        height: $navbar-height;
        width: 100%;
        border-bottom: var(--border);

        gap: var(--padding-md);
    }
}

.navbar-brand {    
    font-size: var(--font-size-lg);
    line-height: 1;
    color: $white;
    text-decoration: none;

    flex-shrink: 1;
}


$toggle-size: calc(var(--font-size-lg) + (2 * var(--padding-sm)));
.navbar-toggle {
    display: inline-block;
    height: $toggle-size;
    width: $toggle-size;

    padding: 0px;

    background: var(--background-color);
    // border: 10px solid white;
    border: var(--border);
    border-radius: var(--border-radius);

    flex-shrink: 0;

    container-type: size;
    container-name: menu-burger;
    
    @media (min-width: $link-mode) {
        display: none;
    }

    &:hover {
        border-color: var(--text-hover-color);
    }

    &:active {
        border-color: var(text-color-active);
    }
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    @media (max-width: $toggle-mode) {
        display: none;
    }

    &.expanded { 
        width: 100%;

        padding: var(--padding-sm) 0px var(--padding-sm) var(--padding-md);
        border-bottom: var(--border);

        // line-height: 1.5;

        display: block;
    }
}


.nav-item {
    padding: 0;
    border: none;

    display: flex;

    font-size: var(--font-size-md);
    color: var(--text-color);
    text-decoration: none;
    line-height: 1.5;

    background: none;

    &.expandable {
        padding-right: .45rem;

        &::after {
            content: "";
            display: inline-block;
            position: relative;
            left: .35rem;
            top: .4rem;

            height: .25rem;
            width: .25rem;
            transform: rotate(45deg);
            border: solid var(--text-color);
            border-width: 0rem .125rem .125rem 0rem;
        }
        
    }

    &:hover {
        color: var(--text-hover-color);

        &.expandable:hover::after {
            border-color: var(--text-hover-color);
        }
    }

    &:active {
        color: var(text-color-active);

        &.expandable:hover::after {
            border-color: var(text-active-color);
        }
    }
}

.navgroup {
    position: relative;
}

.expanded-nav-item {
    padding-left: var(--padding-md);

    @media (min-width: $link-mode) {
        position: absolute;

        top: calc(var(--font-size-md) + var(--padding-sm));

        padding: var(--padding-sm);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);

        background: var(--background-color);

        .nav-item {
            padding: 0px var(--padding-sm) 0px var(--padding-sm);
            border-radius: var(--border-radius);
        }

        .nav-item:hover {
            background: var(--background-hover-color);
        }
    }
}