// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/bootstrap";
@import "./colours";
@import "./components/FloatingInput.scss";
@import "./components/EditableDropdown.scss";

:root {
    --text-color: #{$gray-500};
    --text-hover-color: #{$gray-300};
    --text-active-color: #{$white};

    --background-color: #{$gray-900};
    --background-hover-color: #{$gray-800};

    --border-color: #{$gray-500};
    --border-width: .175rem;
    --border: var(--border-width) solid var(--border-color);
    --border-radius: .5rem;

    --overlay-background-color: #{$gray-800};
    --overlay-background-hover-color: #{$gray-700};
    --overlay-border-color: #{$gray-400};
    --overlay-border: var(--border-width) solid var(--overlay-border-color);

    --padding-xs: .25rem;
    --padding-sm: .5rem;
    --padding-md: 1rem;
    --padding-lg: 2rem;

    --font-size-sm: .75rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
}

$font-family-sans-serif:
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    "Segoe UI",
    // Android
    Roboto,
    // Basic web fallback
    "Helvetica Neue", Arial,
    // Linux
    "Noto Sans",
    "Liberation Sans",
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


$border-width: 1px;
$button-colour: $orange;

body {
    background: $gray-900;
    margin: 0px;
    font-family: $font-family-sans-serif;
}

* {
    box-sizing: border-box;
}

input, select {
    background: var(--background-color);
    font-size: var(--font-size);
    line-height: 1.5;
    padding: var(--padding-sm);
    padding-left: var(--padding-md);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    color: $white;
}

input:focus {
    border: 1px solid $orange-400;
    border-radius: var(--border-radius);
    outline: None;
    box-shadow: 0px 0px 10px 5px $orange-800;
}

.formButton {
    color: $white;
    background: $orange-600;
    border: 1px solid $orange-500;
    border-radius: var(--border-radius);
    padding: var(--padding-sm) var(--padding-md) var(--padding-sm) var(--padding-md);
    font-size: var(--font-size);
    line-height: 1.5;
    font-weight: normal;

    &:focus,
    &:hover {
        border-color: $orange-400;
        box-shadow: 0px 0px 10px 5px $orange-800;
    }
    &:active {
        background: $orange-500;
        border-color: $orange-300;
        box-shadow: 0px 0px 10px 5px $orange-700;
    }
} 

.error {
    border: 1px solid $red-300;
    border-radius: var(--border-radius);
    
    color: $red-300;
    
    background: $red-900;

    padding: var(--padding-sm) var(--padding-md) var(--padding-sm) var(--padding-md);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: clamp(0px, calc(100% - (2 * var(--padding-md))), 25rem);
    margin: auto;

    color: $white;

    fieldset {
        padding: 0px;
        margin: 0px;
        border: none;
        width: 100%; 
    }

    legend {
        margin-bottom: var(--padding-xs)
    }

    fieldset.allFields {
        margin-top: var(--padding-lg);
        margin-bottom: var(--padding-lg);

        &>:not(:last-child) {
            margin-bottom: var(--padding-md);

            &>div:not(.error), &>input, &>select {
                margin-bottom: var(--padding-md);
            }
        }
    }

    input, select {
        width: 100%;
    }

    .error {
        position: relative;
        bottom: calc(var(--padding-md) + 1px);
        margin-bottom: -1px; // Correct for offset
    }

    .formButtons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin-top: var(--padding-md);
    }

    .formButtons:has(button:only-child) {
        justify-content: center;
    }
}