// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/bootstrap";
@import "./colours";

$font-family-sans-serif:
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


$border-width: 1px;
$button-colour: $orange;

body {
    background: $gray-900;
    margin: 0px;
    font-family: $font-family-sans-serif;
}

* {
    box-sizing: border-box;
}



// input:focus,
// select:focus {
//     border: $border-width solid $orange-400;
//     border-radius: var(--bs-border-radius);
//     outline: None;
//     box-shadow: 0px 0px 10px 5px $orange-800;
// }

// button {
//     background: $orange-600;
//     border: $border-width solid $orange-500;

//     &:focus,
//     &:hover {
//         border: $border-width solid $orange-400;
//         border-radius: var(--bs-border-radius);
//         outline: None;
//         box-shadow: 0px 0px 10px 5px $orange-800;
//     }
//     &:active {
//         background: $orange-500;
//         border: 1px solid $orange-300;
//         border-radius: var(--bs-border-radius);
//         outline: None;
//         box-shadow: 0px 0px 10px 5px $orange-700;
//     }
//     margin-bottom: 60px;
// } 

// .alert {
//     margin-bottom: 0px;
// }
