@import "../../colours";
@import "../../components/FloatingInput.scss";
@import "../../components/EditableDropdown.scss";

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: clamp(0px, calc(100% - (2 * var(--padding-md))), 25rem);
    margin: auto;

    color: $white;

    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        padding: 0px;
        padding-top: var(--padding-xs);
        border: none;
        margin: 0px;
        margin-bottom: var(--padding-md);

        &:first-child {
            margin-top: var(--padding-md);
        }

        select, input, .error {
            width: 100%;
        }
        
        &>*:has(input):not(:last-child),
        .error:not(:last-child) {
            margin-bottom: var(--padding-sm);
        }
    }

    button[type="submit"] {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .formButtons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin-top: var(--padding-md);
        margin-bottom: var(--padding-lg);
    }
}